# .gitignore

# Certificates and private keys
*.pem
*.crt
*.key
*.der

# Cache and system files
.venv/
__pycache__/
.vscode/

# JSON esp32 files (passwords and saved states)
esp32/wifi.json
esp32/last_reading.json